<ActionBar class="action-bar">
    <!-- Should remove the navigation button -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <ActionItem ios.position="right" android.position="right" (tap)="newActivity()">
        <Label text="&#xf055;" class="fa title-button"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="Activities"></Label>
</ActionBar>

<GridLayout rows="24, *" class="page page-content">
    <StackLayout class="which-account">
        <Label text="Account: {{account.name}}"></Label>
    </StackLayout>
    <RadListView row="1" [items]="events" (itemTap)="onEventItemTap($event)" class="list-group">
        <!--
    RadListView is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadListView UI component and how it can be customized in this documentation article:
    https://docs.nativescript.org/angular/ui/professional-ui-components/ng-ListView/getting-started
    This component is used to display the master list in the master-detail structure.
    -->
        <ng-template tkListItemTemplate let-event="item">
            <StackLayout class="list-group-item">
                <GridLayout rows="*, *,* " columns="64,*,128" class="list-group-item-content">
                    <Label [text]="event.description" colspan="3" class="text-primary font-weight-bold"></Label>

                    <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="3"></StackLayout>
                    <StackLayout row="2" verticalAlignment="center">
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="Type" fontSize="12" class="fa text-primary"></Span>
                            </FormattedString>
                        </Label>
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="" class="fa text-primary" fontSize="32"></Span>
                                <Span text="{{event.activityType ==='call' ? '&#xf095;' : '&#xf0e0;' }}"
                                    class="fa text-primary" fontSize="32"></Span>
                            </FormattedString>
                        </Label>

                    </StackLayout>

                    <StackLayout row="2" col="1" verticalAlignment="center" class="list-group-item-text">
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf007;   Owner: " class="fa text-primary"></Span>
                                <Span [text]="event.owner"></Span>
                            </FormattedString>
                        </Label>

                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf012;   Priority:  &nbsp; &nbsp;&nbsp;" class="fa text-primary"></Span>
                                <Span
                                    text="{{event.priority ==='1' ? '&#xf2cb; Low' : event.priority ==='2' ? '&#xf2c9; Medium' : '&#xf2c7; High' }}"
                                    class="{{event.priority ==='1' ? 'fa priority-label low' : event.priority ==='2' ? 'fa priority-label medium' : 'fa priority-label high' }}"></Span>
                            </FormattedString>
                        </Label>
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf111;   Status: " class="fa text-primary"></Span>
                                <Span [text]="event.status"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                    <StackLayout row="2" col="2">
                        <Button class="btn btn-primary btn-active" id="{{event.description}}" fontSize="12"
                            text="Complete" (tap)="markComplete()"></Button>
                    </StackLayout>

                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>
