<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="contact.name" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <StackLayout>

        <Image [src]="contact.imageUrl" stretch="aspectFill" height="200" class="m-b-15"></Image>
        <GridLayout rows="32,32" columns="120, *">
            <Label text="{{contact.department}} " class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="1"
                col="0"></Label>
            <Label text="{{contact.name}} " class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="0" col="0"
                colSpan="1"></Label>
            <Label text="{{contact.jobTitle}} " class="text p-b-10" textWrap="true" row="0" col="1"></Label>
        </GridLayout>
        <StackLayout orientation="Vertical" height="24px">
        </StackLayout>
        <GridLayout rows="32,32,32,32,32,32,32" columns="96, *">
            <Label text="Email" class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="0" col="0"></Label>
            <Label text="Phone" class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="1" col="0"></Label>
            <Label text="Cell" class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="2" col="0"></Label>
            <Label text="Address" class="p-l-15 p-b-10 m-r-20 text-secondary" textWrap="true" row="3" col="0"></Label>
            <Label text="{{contact.email}} " class="text p-b-10" textWrap="true" row="0" col="1"></Label>
            <Label text="{{contact.phone}} " class="text p-b-10" textWrap="true" row="1" col="1"></Label>
            <Label text="{{contact.cellphone}} " class="text p-b-10" textWrap="true" row="2" col="1"></Label>
            <Label text="{{contact.address1}} " class="text p-b-10" textWrap="true" row="3" col="1"></Label>
            <Label text="{{contact.address2}} " class="text p-b-10" textWrap="true" row="4" col="1"></Label>
            <Label text="{{contact.city}} " class="text p-b-10" textWrap="true" row="5" col="1"></Label>
            <Label text="{{contact.zip}} " class="text p-b-10" textWrap="true" row="6" col="1"></Label>
        </GridLayout>
    </StackLayout>
</GridLayout>
