<ActionBar class="action-bar">
    <!--HACK - we should remove the navigation button-->
    <NavigationButton visibility="collapsed"></NavigationButton>
    <ActionItem ios.position="left" android.position="left" (tap)="onCancelButtonTap()">
        <Label text="Cancel" class="action-item"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="Edit Sum Details" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right">
        <Label text="Book" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()"
            [isEnabled]="makeModel.valid && imageModel.valid"
            [isUserInteractionEnabled]="makeModel.valid && imageModel.valid"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="sum-list">
            <Label text="Event Name" class="sum-list-odd"></Label>
            <TextField hint="Sum name field is required" class="sum-list-even" required></TextField>

            <GridLayout rows="*, 55, *" columns="*, auto" class="sum-list-odd">
                <Label text="Party Members"></Label>
                <Label col="1" horizontalAlignment="right" class="text-primary sum-list-price">
                    <FormattedString>
                        <Span text="1"></Span>
                    </FormattedString>
                </Label>

                <StackLayout row="1" colSpan="2" verticalAlignment="center">
                    <Slider [(ngModel)]="party"></Slider>
                </StackLayout>
            </GridLayout>


            <Label class="sum-list-odd" text="Location"></Label>

            <StackLayout class="sum-list-even">
                <!--
                MyListSelector is a custom component, that provides custom design and logic for picking an option from a list.
                Check out the custom component at /sums/sum-detail-edit/my-list-selector.
                -->
                <ListPicker items="Austin" selectedIndex="1" (selectedIndexChange)="selectedIndexChanged($event)"
                    class="p-15"></ListPicker>

            </StackLayout>

            <Label class="sum-list-odd" text="Date"></Label>

            <StackLayout class="sum-list-even">
                <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                    (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
                    (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
            </StackLayout>

            <Label class="sum-list-odd" text="Time"></Label>

            <StackLayout class="sum-list-even">
                <TimePicker (loaded)="onPickerLoaded($event)" (timeChange)="onTimeChanged($event)"
                    verticalAlignment="center" class="m-15"></TimePicker>

            </StackLayout>
        </StackLayout>
    </ScrollView>

    <ActivityIndicator [busy]="isUpdating"></ActivityIndicator>
</GridLayout>
